@media(max-width: 1000px){
    .team__item {
      margin-bottom: 20px;
      flex-basis: calc(100%);
    }
    .footer__item {
        max-width: 100%;
        text-align: center;
        margin-bottom: 50px;
    }
    .footer__copy {
       font-size: 13px;
       margin-top: 20px;
    }
}
@media(max-width: 940px){
    .about__wrapper {
         transform: rotate(0deg); 
    }
    .about__inner {
         transform: rotate(0deg); 
         justify-content: center;
    }
    .about__inner-text {
        margin-right: 20px;
        margin-bottom: 30px;
    }
    .about__wrapper {
        padding: 15px;
    }
    .about__inner-text {
        padding: 78px 20px 35px 20px;
    }



}
@media(max-width: 770px){
    .menu__list{
        display: none;
        text-align: center;
        color: #000000;
        li{
            a{
                width: 100%;
                background-color: #Fff;
                border-bottom: 1px solid #000;
            }
        }
    }
    .header__inner .menu__list li a:hover{
        background-color: transparent;
        color: #ffffff;
    }
    .header__inner .menu__list li {
        display: block;
    }
    .header__inner .menu__list li a { 
        color: #000000;
    }
    .header__inner .menu__list li .active {
        background-color: red;
        color: #ffffff;
    }
    .menu__btn{
        width: 30px;
        display: block;
        cursor: pointer;
        margin-bottom: 20px;
        div{
            background-color: #fff;
            height: 3px;
            & + div{
                margin-top: 5px;
            }
        }
    }
    .header__inner{
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 20px;
    }
    .menu{
        width: 100%;
    }
    .header{
        padding-top: 30px;
    }
    .header__inner .menu__list li+li {
        margin: 0;
    }
   
    .header__inner .menu__list li a {
      border-radius: 0px; 
    }
    .header__info-inner { 
        flex-wrap: wrap;
        justify-content: center;
    }
    .header__info-phone {
        width: 100%;
        order: -1;
        margin-bottom: 60px;
        margin-top: 20px;
        justify-content: center;
    }
    .about__inner-text {
        margin-right: 0px;
    }
}
@media(max-width: 650px){
    .team__inner-btn button + button {
         margin-left: 0px; 
    }
    .team__inner-btn button {
        border-radius: 0px;
        border: 1px solid #ccc;
        width: 100%;
        padding: 15px 0px;
    }
    
}
@media(max-width: 550px){
    .slick-dots li button {
        height: 25px;
        width: 25px;
    }
}




@media(min-width: 771px){
    .menu__list{
        display: block !important;
    }

}